<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <!-- 配置  监听器  在过滤器之前  -->
    <listener>
        <listener-class>com.listener.CountListener</listener-class>
    </listener>

    <!-- 配置  过滤器 一般在servlet前面-->
    <filter>
        <filter-name>filter01</filter-name>
        <filter-class>com.filter.CommentFilter01</filter-class>
        <init-param>
            <param-name>illegalWord</param-name>
            <param-value>fuck</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>filter01</filter-name>
        <url-pattern>/jsp01/comment</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CommentFilter02</filter-name>
        <filter-class>com.filter.CommentFilter02</filter-class>
        <init-param>
            <param-name>illegalLength</param-name>
            <param-value>30</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CommentFilter02</filter-name>
        <url-pattern>/jsp01/comment</url-pattern>
    </filter-mapping>

    <!-- 注意点：因为该页面jsp文件访问的URI路径是/jsp01/comment，所以提交action默认路径 ，如果此处url不匹配会导致找不到 404 -->
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>com.CommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/jsp01/comment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CountServlet</servlet-name>
        <servlet-class>com.CountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CountServlet</servlet-name>
        <url-pattern>/count</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ActionServlet</servlet-name>
        <servlet-class>com.ActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionServlet</servlet-name>
        <url-pattern>*2.do</url-pattern>
    </servlet-mapping>

    <!-- 设置session超时，分钟为单位 -->
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>ValidateCode</servlet-name>
        <servlet-class>com.ValidateCode</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateCode</servlet-name>
        <url-pattern>/code</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/jsp01/logout</url-pattern>
    </servlet-mapping>


    <servlvlet>-->
    <servlvlet-name>actiservlvlet-name>-->
    <servlvlet-class>com.servl.ActionServleservlvlet-class>-->
    <!servlvlet>-->
    <servlvlet-mapping>-->
    <servlvlet-name>actiservlvlet-name>-->
    <!--<url-pattern>*.do</url-pattern>-->
    <!servlvlet-mapping>-->

</web-app>