/*表格*/
table
{
    border-collapse: collapse;
}
tr.header td
{
    height: 35px;
    font-weight: bold;
    background-color: #ddd;
}
td
{
    border: 1px solid gray;
    width: 100px;
    height: 30px;
    text-align: center;
}

